<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/> 
  <arg name="verbose" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find-pkg-share robocon25_sim)/launch/gazebo_no_eol.launch.py">
    <arg name="world" value="$(find-pkg-share robocon25_sim)/worlds/robocon25.world"/>
    <arg name="verbose" value="$(var verbose)"/>
    <arg name="paused" value="$(var paused)"/>
    <arg name="gui" value="$(var gui)"/>
  </include>
  
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" exec="spawn_entity.py" args="-file $(find-pkg-share robocon25_sim)/models/robot.model -entity robot" />

  <node name="omni_mirror_sim" pkg="robocon_localization" exec="omni_mirror_sim" output="screen">
    <param name="input_topic" value="/sim_camera/image_raw"/>
    <param name="output_topic" value="/omni_camera/image_raw"/>
    <param name="output_width" value="640"/>
    <param name="output_height" value="480"/>
    <param name="inner_radius_ratio" value="0.00"/>
    <param name="outer_radius_ratio" value="0.98"/>
    <param name="mirror_curve" value="0.42"/>
    <param name="source_radius_ratio" value="0.98"/>
    <param name="radial_k1" value="0.00"/>
    <param name="radial_k2" value="0.00"/>
    <param name="center_x_ratio" value="0.50"/>
    <param name="center_y_ratio" value="0.50"/>
    <param name="flip_radial" value="false"/>
  </node>

  <!-- 启动 loc_sidelines 场线定位节点 -->
  <node name="loc_sidelines" pkg="robocon_localization" exec="loc_sidelines" output="screen">
    <param name= "table_file" value="$(find-pkg-share robocon_localization)/config/dist_table.txt" />
    <param name= "lines_file" value="$(find-pkg-share robocon_localization)/config/field_lines.png" />
    <param name= "field_file" value="$(find-pkg-share robocon_localization)/config/field_bg.png" />
    <param name= "lines_map_file" value="$(find-pkg-share robocon_localization)/config/white_lines.png"/>
    <param name= "red_map_file" value="$(find-pkg-share robocon_localization)/config/red_lines.png"/>
    <param name= "blue_map_file" value="$(find-pkg-share robocon_localization)/config/blue_lines.png"/>
  </node>

  <!-- 启动 relocalization 重定位节点 -->
  <node name="relocalization" pkg="robocon_localization" exec="relocalization" output="screen">
    <param name= "table_file" value="$(find-pkg-share robocon_localization)/config/dist_table.txt" />
    <param name= "lines_file" value="$(find-pkg-share robocon_localization)/config/field_lines.png" />
    <param name= "field_file" value="$(find-pkg-share robocon_localization)/config/field_bg.png" />
    <param name= "lines_map_file" value="$(find-pkg-share robocon_localization)/config/white_lines.png"/>
    <param name= "red_map_file" value="$(find-pkg-share robocon_localization)/config/red_lines.png"/>
    <param name= "blue_map_file" value="$(find-pkg-share robocon_localization)/config/blue_lines.png"/>
  </node>

  <!-- ROS2 中可用 rqt_robot_steering 发布 /cmd_vel 代替原 wpr_simulation/keyboard_vel_ctrl。 -->

</launch>
