<launch>
  <arg name="image_topic" default="/robot/image_raw"/>
  <arg name="odom_topic" default="/robot/odom"/>
  <arg name="pose_topic" default="/robot/pose"/>
  <arg name="use_odom_for_tracking" default="false"/>
  <arg name="use_safety_axis_constraint" default="false"/>

  <node name="loc_sidelines" pkg="robocon_localization" exec="loc_sidelines" output="screen">
    <param name="table_file" value="$(find-pkg-share robocon_localization)/config/dist_table.txt"/>
    <param name="lines_file" value="$(find-pkg-share robocon_localization)/config/field_lines.png"/>
    <param name="field_file" value="$(find-pkg-share robocon_localization)/config/field_bg.png"/>
    <param name="lines_map_file" value="$(find-pkg-share robocon_localization)/config/white_lines.png"/>
    <param name="red_map_file" value="$(find-pkg-share robocon_localization)/config/red_lines.png"/>
    <param name="blue_map_file" value="$(find-pkg-share robocon_localization)/config/blue_lines.png"/>
    <param name="use_odom_for_tracking" value="$(var use_odom_for_tracking)"/>
    <param name="use_safety_axis_constraint" value="$(var use_safety_axis_constraint)"/>
    <param name="image_topic" value="$(var image_topic)"/>
    <param name="odom_topic" value="$(var odom_topic)"/>
    <param name="pose_topic" value="$(var pose_topic)"/>
    <param name="pose_frame_id" value="map"/>
  </node>
</launch>
